---
import Image from "astro/components/Image.astro";
import Experience from "../components/Experience.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import LogoMarquee from "../components/LogoMarquee.astro";

const intro = [
	"I am a full stack developer with experience in building web applications using JavaScript, React, Node.js, and other technologies. I am passionate about creating high-quality software that solves real-world problems. I am always eager to learn new technologies and improve my skills.",
];

const mySkill = [
	{
		name: "TypeScript",
		logo: "typescript",
		color: "#3a7cc7",
	},
	{
		name: "Node.js",
		logo: "nodejs",
		color: "#3c873a",
	},
	{
		name: "Python",
		logo: "python",
		color: "#3776AB",
	},
	{
		name: "React",
		logo: "react",
		color: "#61dafb",
	},
	{
		name: "Tailwind",
		logo: "tailwindcss",
		color: "#1baec4",
	},
	{
		name: "MongoDB",
		logo: "mongodb",
		color: "#47a248",
	},
	{
		name: "Git",
		logo: "git",
		color: "#f1502f",
	},
];

const myExperience = [
	{
		title: "Software Engineer",
		company: "Tech Company",
		duration: "Jan 2020 - Present",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
	},
	{
		title: "Frontend Developer",
		company: "Web Agency",
		duration: "Jun 2018 - Dec 2019",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
	},
];

const aboutMe = [
	"I am always open to new opportunities and collaborations. If you are interested in working together, please feel free to reach out to me. I would love to hear from you!. I am always open to new opportunities and collaborations. If you are interested in working together, please feel free to reach out to me.",
	"I am always open to new opportunities and collaborations. If you are interested in working together, please feel free to reach out to me. I would love to hear from you!. I am always open to new opportunities and collaborations. If you are interested in working together, please feel free to reach out to me. I would love to hear from you!",
	"I am always open to new opportunities and collaborations. If you are interested in working together, please feel free to reach out to me. I would love to hear from you!. I am always open to new opportunities and collaborations. If you are interested in working together, please feel free to reach out to me. I would love to hear from you!",
];

const project = [
	{
		name: "Project 1",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
		link: "/",
		image: "/project.webp",
	},
	{
		name: "Project 2",
		description:
			"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
		link: "/",
		image: "/project.webp",
	},
];

// todo: integrate staticform for contact form
---

<BaseLayout title="Zain Haider">
	<!-- hero section -->
	<section class="hero-padding">
		<div class="container mx-auto px-5">
			<div class="grid md:grid-cols-2 grid-cols-1 md:gap-10 gap-5 items-center">
				<div class="col-span-1 xl:space-y-8 lg:space-y-6 space-y-4">
					<h1 class="leading-[1.2em] capitalize">
						hello i'am
						<span class="font-bold">Zain Haider</span>
						<br />
						<span class="font-bold">Full Stack</span>
						<span class="font-londrina font-bold">Developer</span>
					</h1>
					{intro.map((paragraph) => <p>{paragraph}</p>)}
					<div class="flex md:gap-5 gap-3">
						<a
							href="https://linkedin.com/in/zain-haider110"
							target="_blank"
							class="xl:size-14 lg:size-12 size-10 border-2 rounded-lg flex shrink-0 justify-center items-center group hover:bg-foreground duration-150"
						>
							<Icon
								name="linkedin"
								class="group-hover:text-background duration-150 lg:size-6 size-4"
								title="Linked In"
							/>
						</a>
						<a
							href="https://github.com/zainhaider-123/"
							target="_blank"
							class="xl:size-14 lg:size-12 size-10 border-2 rounded-lg flex shrink-0 justify-center items-center group hover:bg-foreground duration-150"
						>
							<Icon
								name="github"
								class="group-hover:text-background duration-150 lg:size-6 size-4"
								title="GitHub"
							/>
						</a>
						<a
							href="https://discord.com/users/953699716045111338"
							target="_blank"
							class="xl:size-14 lg:size-12 size-10 border-2 rounded-lg flex shrink-0 justify-center items-center group hover:bg-foreground duration-150"
						>
							<Icon
								name="discord"
								class="group-hover:text-background duration-150 lg:size-6 size-4"
								title="Discord"
							/>
						</a>
					</div>
					<LogoMarquee logos={mySkill} />
				</div>
				<div class="col-span-1">
					<Image
						src="/profile.webp"
						alt="Zain Haider"
						width={646}
						height={862}
						loading="lazy"
						class="rounded-lg aspect-square w-full object-cover object-center"
					/>
				</div>
			</div>
		</div>
	</section>

	<!-- experience section -->
	<section class="sec-padding bg-foreground text-background">
		<div class="container mx-auto px-5">
			<h2 class="w-full text-center">
				My <span class="font-bold">Experience</span>
			</h2>
			{
				myExperience.map((experience) => (
					<Experience
						class="2xl:mt-16 xl:mt-12 lg:mt-10 md:mt-8 mt-6 border-background"
						designation={experience.title}
						company={experience.company}
						duration={experience.duration}
						description={experience.description}
					/>
				))
			}
		</div>
	</section>

	<!-- about me section -->
	<section class="sec-padding">
		<div class="container mx-auto px-5">
			<div
				class="grid grid-cols-10 xl:gap-10 lg:gap-8 md:gap-6 gap-5 items-center"
			>
				<div class="md:col-span-4 col-span-10">
					<Image
						src="/zainHaider.webp"
						alt="Zain Haider"
						width={1024}
						height={1536}
						loading="lazy"
						class="rounded-lg w-full"
					/>
				</div>
				<div class="md:col-span-6 col-span-10 flex flex-col justify-center">
					<h2 class="capitalize">
						about <span class="font-bold">me</span>
					</h2>
					{aboutMe.map((paragraph) => <p class="mt-5">{paragraph}</p>)}
				</div>
			</div>
		</div>
	</section>

	<!-- project section -->
	<section class="sec-padding bg-foreground text-background">
		<div class="container mx-auto px-5">
			<h2 class="capitalize w-full text-center">
				featured <span class="font-bold">project</span>
			</h2>
			{
				project.map((project, index) => (
					<div class="grid grid-cols-1 md:grid-cols-2 lg:gap-10 md:gap-8 gap-6 xl:mt-20 lg:mt-16 md:mt-12 mt-10 items-center">
						<div
							class={`col-span-1 ${index % 2 !== 0 ? "md:order-last 2xl:pl-20 xl:pl-14 lg:pl-10 md:pl-8 pl-0" : "2xl:pr-20 xl:pr-14 lg:pr-10 md:pr-8 pr-0"}`}
						>
							<a href={project.link}>
								<Image
									src={project.image}
									alt={project.name}
									width={400}
									height={400}
									loading="lazy"
									class="rounded-lg w-full 2xl:h-80 xl:h-72 lg:h-64 sm:h-56 h-48 object-cover"
								/>
							</a>
						</div>
						<div class="col-span-1 flex flex-col justify-center lg:space-y-5 md:space-y-4 space-y-3">
							<h3 class="capitalize font-bold">{project.name}</h3>
							<p>{project.description}</p>
							<a
								href={project.link}
								class="inline-flex items-center space-x-2 w-fit group capitalize"
							>
								<Icon
									name="external-link"
									class="group-hover:text-background/90 duration-150"
									size={17}
								/>
								<span class="group-hover:text-background/90 duration-150">
									learn more
								</span>
							</a>
						</div>
					</div>
				))
			}
		</div>
	</section>
</BaseLayout>
